@import 'https://fonts.googleapis.com/css?family=Monoton';

.menu-links {
	margin: 10px;
}

#header h1 {
	font-family: 'Monoton', cursive;
	font-size: 4em;
}

body {
	margin-bottom: 80px;
}

.footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

label {
	margin-top: -8px;
}

input[type="checkbox"], input[type="radio"] {
  transform:scale(1.5, 1.5);
	margin: 0px 8px;
}

button {
	margin-right: -8px;
}

a, .glyphicon {
	z-position: 0;
	text-decoration: underline;
}

a:visited {
	color: green;
}

a:hover, a:hover.glyphicon {
	font-weight: bold;
	text-decoration: underline;
}

a:active, a:active.glyphicon {
	text-decoration: none;
}

.glyphicon {
	/*Works in Firefox*/
	top: 0.5px;
}
