@import 'https://fonts.googleapis.com/css?family=Changa';

tbody {
	font-style: italic;
	background-color: lightcyan;
}

th {
	border: 1px solid black; 
	border-bottom: 2px solid black;
}

tr {
	border: 1px solid black;
}

#cover h2 {
	font-family: 'Changa', sans-serif;
}

#cover-art {
	height: 400px;
	margin: auto;
	background-image: url("http://coldplay.com/wp-content/uploads/2015/11/AHFOD1000.jpg");
	background-size: 400px 400px;
	background-position: center top;
	background-repeat: no-repeat;
}

#BMaP {
	font-family: 'Changa', sans-serif;
	text-align: center;
}

#member-list {
	font-style: italic;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: hotpink;
}

a:active {
	text-decoration: none;
}