@import 'https://fonts.googleapis.com/css?family=Monoton';

.menu-links {
	margin: 10px;
}

#header h1 {
	font-family: 'Monoton', cursive;
	font-size: 4em;
}

#footer h5 {
	text-align: center;
	width: 100%;
	display: block;
}

a {
	z-position: 0;
	text-decoration: underline;
}

a:visited {
	color: green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

hr.footerBreak {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.footerBreak:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}